@use '../variables';

.info-bar {
    padding: 16px 24px;
    background-color: variables.$textCorlor; 
    display: flex;
    justify-content: space-between;

    &__infos{
        display: flex;
        gap: 60px;
        
        &__item{
            font-size: 14px;
            color: variables.$secondaryTextColor;

            b {
                font-size: 22px;
                display: block;
                color: variables.$secondaryTextColor;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item{
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}