.event {
    padding: 80px 0;
    background-color: purple;
    background-image: linear-gradient(purple, rgba(90, 26, 240, 0.5));

    .container {
        display: flex;
    }
    &__image {
        max-width: 360px;
    }

    &__detail{
        margin-right: 40px;

        &__title {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 16px;
            text-align: center;
        }

        &__description {
            font-size: 20px;
            line-height: 22px;
        }
    }

    @media(max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__detail {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}