@use 'variables';

.event {
    padding: 80px 0;

    &--inicio {
        background-image: linear-gradient(variables.$purple1, variables.$purple2);
    }

    &--convite {
        background-image: linear-gradient(variables.$purple2, variables.$blue1);
    }

    &--fim {
        background-image: linear-gradient(variables.$blue1, variables.$blue2);
    }

    &--image-left {
        .container{
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }
    &__image {
        max-width: 360px;
    }

    &__detail{
        margin-right: 40px;

        &__title {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 16px;
            text-align: center;
        }

        &__description {
            font-size: 20px;
            line-height: 22px;
        }
    }

    @media(max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__detail {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}